# VCS
.git
.gitignore

# Node/Frontend
frontend/node_modules
frontend/dist

# Go build artifacts
bin
out
*.out
*.test

# IDE/editor
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Docker
*.dockerfile
docker-compose.override.yml

# Env and secrets
.env
.env.*
env.local


